html {
    scroll-behavior: smooth;
}

/* Initial state for the sections */
section {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Fade-in effect */
section.fade-in {
    opacity: 4;
}

/* Fade-out effect */
section.fade-out {
    opacity: 0;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}

.titleFont {
    font-family: Impact, sans-serif;
    font-size: 3.5rem;
}

@media (max-width: 768px) {
    .titleFont {
        font-size: 2rem;
    }
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

#loading.hidden {
    opacity: 0;
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #c9b500;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c9b500b7;
}

.navbar {
    transition: background-color 0.3s ease;
    padding: 15px;
    font-weight: 600;
    font-size: smaller;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-brand img {
    width: 80px;
    height: auto;
    display: block;
}

.navbar.transparent {
    background-color: transparent !important;
}

.navbar.scrolled {
    background-color: white !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand,
.nav-link {
    color: black !important;
    transition: color 0.3s ease;
}

.navbar.transparent .navbar-brand,
.navbar.transparent .nav-link {
    color: white !important;
}

#home {
    position: relative;
    height: 100vh;
    opacity: 1;
    transition: none;
}

.homeImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.homeImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homeContent img {
    width: 80%;
}

.btn-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    top: -400px;
}

.btn-circle:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.1);
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    .homeContent img {
        padding-top: 190px;
        width: 100%;
    }

    .btn-circle {
        width: 40px;
        height: 40px;
        margin-top: 70px;
    }
}

.about {
    padding: 20px;
    background-color: white;
}

.aboutDuplicate {
    position: relative;
    top: 80px;
    text-align: left;
    font-size: 8rem;
    opacity: 0.5;
    z-index: -1;
    color: #c2c2c2;
}

.aboutMain {
    font-size: 4rem;
    text-align: left;
}

.aboutP {
    padding-top: 40px;
    font-size: 1.1rem;
    line-height: 28px;
    text-align: left;
}

.missionPurpose {
    padding: 80px;
}

.missionPurpose p {
    font-size: 1rem;
    padding: 0 38px;
    padding-top: 15px;
    text-align: left;
}

.missionHr,
.purposeHr {
    border-top: 3px solid #980f30;
    margin: auto;
    opacity: 100%;
    width: 90%;
}

@media (max-width: 768px) {

    .aboutMain,
    .aboutDuplicate {
        text-align: right;
    }

    .aboutDuplicate {
        position: relative;
        top: 50px;
        font-size: 4rem;
    }

    .aboutMain {
        font-size: 2rem;
    }

    .aboutP {
        padding: 8px;
        font-size: 0.9rem;
        text-align: center;
    }

    .missionPurpose,
    .missionPurpose p {
        padding: 7px;
        padding-top: 20px;
        font-size: 0.9rem;
        line-height: 28px;
        text-align: center;
    }

    .purpose {
        padding-top: 20px;
    }
}

.medalists {
    background: linear-gradient(135deg, #1d2857, #4a69bd);
    color: white;
    padding-top: 40px;
    opacity: 1;
    transform: translateY(0);
    transition: none;
}

.medalists h1 {
    font-size: 7rem;
    color: #ffffff;
}

@media (max-width: 768px) {
    .medalists h1 {
        font-size: 4rem;
    }
}

.profileCard {
    background-color: rgba(76, 84, 119, 0.329);
    color: white;
    border-radius: 15px;
    border: none;
    position: relative;
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 60px;
}

.profileCard:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.profileCard img.athleteImg,
.profileCard img.aira {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: auto;
}

.contentBox {
    background-color: rgb(13, 20, 78);
    position: relative;
    margin-top: 70px;
    padding: 20px;
    border-radius: 10px;
    padding-bottom: 30px;
}

.contentBox h5 {
    opacity: 0.7;
}

.material-icons {
    padding-top: 10px;
}

.profileCard .medal {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.profileCard .medal img {
    width: 80px;
}

.profileCard h3 {
    margin-top: 20px;
}

.profileCard p {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profileCard p img {
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {
    .profileCard {
        flex-direction: row;
        align-items: center;
        padding: 10px;
        gap: 15px;
    }

    .profileCard img.athleteImg,
    .profileCard img.aira {
        width: 60%;
        max-width: 110px;
        top: 20px;
        left: 100px;
    }

    .contentBox {
        margin: 0;
        text-align: right;
        background-color: rgb(13, 20, 78, 0);
    }

    .contentBox h5,
    .contentBox h4 {
        margin: 0;
        font-size: 1rem;
    }

    .profileCard .medal {
        position: absolute;
        top: 0;
        left: 20px;
    }

    .profileCard .medal img {
        width: 60px;
    }
}

.articlesSection {
    padding: 40px;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.article {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s, transform 1s;
    margin: auto;
}

.article.show {
    opacity: 1;
    transform: translateX(0);
}

.article h3 {
    margin: 0;
    color: #333;
}

.article p {
    margin: 5px 0;
    color: #666;
}

.readMore {
    color: #0078d0;
    text-decoration: none;
    font-weight: bold;
}

.readMore:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .article {
        font-size: small;
    }

    .articlesSection h2 {
        font-size: 1.8rem;
    }

    .articlesSection h3 {
        font-size: 1.3rem;
    }
}

.momentTitle {
    color: black;
    position: relative;
    display: inline-block;
    padding-left: 20px;
}

.verticalUnderline {
    position: absolute;
    left: -10px;
    top: 0;
    height: 100%;
    border-left: 3px solid #0078d0;
    content: "";
}

.momentsP {
    padding-top: 30px;
    font-size: 1rem;
    color: #6c757d;
    line-height: 1.5;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
}

.gallery-item {
    position: relative;
    overflow: hidden;
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.gallery-item.large {
    grid-column: span 2;
}

.gallery-item.medium {
    grid-column: span 1.5;
}

.gallery-item.small {
    grid-column: span 1;
}

#moments .col-lg-4 {
    padding-right: 3rem;
}

.momentsP {
    font-size: 1rem;
    line-height: 1.5;
}

@media (max-width: 767px) {
    .verticalUnderline {
        margin-left: 20px;
    }

    .momentsP {
        font-size: 0.9rem;
        margin-left: 20px;
        padding-bottom: 20px;
    }

    .gallery .gallery-item {
        grid-column: span 1;
    }
}

.medalTitle {
    text-align: center;
}

.medalImg {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.medalImg:hover {
    transform: scale(1.1);
    opacity: 1;
}

.cardBody {
    overflow: hidden;
}

.tallyContent .customLine {
    width: 20%;
    border-bottom: 3px solid #0078d0;
    margin: auto;
}

@media (max-width: 767px) {
    .medalTally .cardBody {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .medalTally .cardBody img {
        width: 60%;
        order: -1;
        margin-right: 30px;
        padding-left: 20px;
    }

    .medalTally .cardBody h5,
    .medalTally .cardBody p {
        text-align: right;
        flex-direction: row-reverse;
    }

    .medalTally .cardBody h5 {
        padding-bottom: 30px;
        margin: auto;
    }

    .medalTally .cardBody p {
        position: relative;
        top: 30px;
        right: 48px;
        margin: auto;
    }

    .tallyContent h2 {
        font-size: 2.3rem;
    }
}

#quote {
    width: 100%;
    height: 500px;
}

.row.no-gutters {
    height: 100%;
    width: 100%;
}

.col-5.d-flex {
    background-color: #00287f;
    color: white;
    height: 100%;
}

.col-7.position-relative {
    background-color: white;
    height: 100%;
}

.quoteText {
    font-size: 3rem;
    font-weight: 500;
    line-height: 100px;
    top: 250px;
    left: 50px;
    position: absolute;
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    height: auto;
}

@media (max-width: 767px) {
    #quote {
        display: flex;
        flex-direction: column;
        height: 70vh;
    }

    .row {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .col-7 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
    }

    .quoteText {
        font-size: 2rem;
        line-height: 30px;
    }

    .logo {
        margin-top: 20px;
        width: 50px;
    }

    .col-5 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: green;
        height: 50px;
    }
}

footer {
    background-color: #0c0c0c;
    color: white;
    height: 100%;
}

footer img {
    max-height: 40px;
}

footer .footerName p {
    font-size: 1.5rem;
    font-weight: 500;
}

@media (max-width: 768px) {
    footer .footerName {
        padding-bottom: 20px;
    }

    footer img {
        max-height: 30px;
    }

    footer .footerName p {
        font-size: 1.1rem;
        text-align: left;
        font-weight: 600;
    }
}

footer ul {
    padding: 0;
    list-style: none;
}

footer ul li {
    margin-bottom: 0.5rem;
}

footer ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #616161;
}

.contactFooter p {
    font-size: 1rem;
    color: #fff;
}

footer .contactIcons a {
    font-size: 1rem;
    color: #ffffff;
    margin-right: 10px;
    transition: color 0.3s ease;
}

footer .contactIcons a:hover {
    color: #858585;
}

footer .copyRight {
    color: #858585;
    font-size: 1rem;
}